<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.skychat.client">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".SkychatApp"
        android:theme="@style/AppTheme">

        <activity android:name=".ProfilesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ProfilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.skychat.client.ProfilesActivity" />
        </activity>

        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".ProfilesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.skychat.client.ProfilesActivity" />
        </activity>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="81a7d3832f445969a79b09f990de7e32"/>

    </application>

</manifest>